<h3>New Book</h3>
<form>
  <div>
    <label>Book id:</label>
    <input type="number"  name = "ino" [(ngModel)] = "book.id"
    readonly="{{isEdit?'readonly':''}}"
    >
  </div>
  <div>
      <label>Book name:</label>
      <input type="text"  name = "inm" [(ngModel)] = "book.name">
    </div>
    <div>
        <label>Book Rate:</label>
        <input type="number"  name = "irt" [(ngModel)] = "book.rate">
      </div>
      <div>
          <label>Book Quantity:</label>
          <input type="number"  name = "iqt" [(ngModel)] = "book.qty">
        </div>
        <div>
          <button type="button" (click)="cancel()">Cancel</button>
          <button type="button" (click)="save()">Save</button>
        </div>
</form>