<h3>
  {{isEdit?"Edit":"New"}} Emplyoee
</h3>
<form name="form" #f=ngForm novalidate (ngSubmit)="f.form.valid && saveEmplyoee()">
  <h3>Emplyoee Details</h3>
  <table>
    <tr>
      <th>Emplyoee#</th>
      <td>
        <input name="empid" type="number" [(ngModel)]="emplyoee.empid" *ngIf="!isEdit" 
        
        />
        <span *ngIf="isEdit">{{emplyoee.empid}}</span>
      </td>
    </tr>
    <tr>
      <th>Ename</th>
      <td>
        <input name="bename" type="text" [(ngModel)]="emplyoee.ename" #ename=ngModel required  minlength="5" maxlength="30" />
        <ul [hidden]=ename.valid>
          <li [hidden]=ename.required>Cannot Be Empty</li>
          <li [hidden]=ename.minlength>Cannot be less than 5 chars in length</li>
          <li [hidden]=ename.maxlength>Cannot be more than 30 chars in length</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>Basic</th>
      <td>
        <input name="basic" type="decimal" [(ngModel)]="emplyoee.basic" />
      </td>
    </tr>
    <tr>
        <th>Hra</th>
        <td>
          <input name="hra" type="decimal" [(ngModel)]="emplyoee.hra" />
        </td>
      </tr>
      <tr>
      <th>Dept</th>
      <td>
        <select name="btype" [(ngModel)]="emplyoee.dept" #emplyoeedept=ngModel required>
          <option value="">-------Select------</option>
          <option value="Cloud">Cloud</option>
          <option value="It">IT</option>
          <option value="Support">Support</option>
          <option value="Testing">Testing</option>
        </select>

        <ul [hidden]=emplyoeedept.valid>
          <li>please select one from list</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align: right">
        <button class="btn">Save</button>
      </td>
    </tr>
  </table>
</form>