<h3>Item List</h3>



<table style="width: 100%">
  <thead>
      <th>Item#</th>
      <th>Name</th>
      <th>Rate</th>
      <th>Quatity</th>
      <th>Price</th>
      <th>Action</th>
    </thead>
  <tfoot>
    <th colspan="4">
      {{items.length}} Item(s) Found
    </th>
    <th></th>
  </tfoot>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.id}}</td>
      <td>{{item.name | uppercase}}</td>
      <td>{{item.rate | currency : 'AUD'}}</td>
      <td>{{item.qty | number : '2.0'}}</td>
      <td>{{item.price | currency : 'AUD'}}</td>
      <td>
        <a class="btn" routerLink="/ivc/{{item.id}}">View</a>
        <a class="btn" routerLink="/ie/{{item.id}}">Edit</a>
        <a class="btn" (click)="deleteItem(item.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>