<h3>Emplyoee Details</h3>
<table>
  <tr>
    <th>Emplyoee#</th>
    <td>{{emplyoee.empid}}</td>
  </tr>
  <tr>
    <th>Ename</th>
    <td>{{emplyoee.ename}}</td>
  </tr>
  <tr>
    <th>Basic</th>
    <td>{{emplyoee.basic}}</td>
  </tr>
  <tr>
    <th>Hra</th>
    <td>{{emplyoee.hra}}</td>
  </tr>
  <tr>
    <th>Dept</th>
    <td>{{emplyoee.dept}}</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right">
      <button class="ebtn" (click)="doEdit()">Edit</button>
      <button class="dbtn" (click)="doDelete()">Delete</button>
    </td>
  </tr>
</table>