<div *ngIf = "!isEdit">
  <span>{{task.taskId}}</span>
  <span (dblclick)="isEdit = true;taskName=task.name">{{task.name}}
    <i *ngIf = "task.isCompleted">&#10003;</i>
  </span>
 <!-- <button (click)="markCompleted(true)" *ngIf="!task.isCompleted" >Mark Completed</button>
  <button *ngIf="task.isCompleted" (click)="markCompleted(false)" >
    Mark Incomplete
  </button>-->
  <button (click) = "markCompleted(!task.isCompleted)">
    {{task.isCompleted?"Mark Incomplete":"Mark Complete"}}
  </button>
</div>
<div *ngIf = "isEdit">
  <span>{{task.taskId}}</span>
  <input type="text" [(ngModel) = "taskName"]>
  <button (click) = "isEdit = false;task.name=taskName">&#10004;</button>
 <!-- <button (click)="markCompleted(true)" *ngIf="!task.isCompleted" >Mark Completed</button>
  <button *ngIf="task.isCompleted" (click)="markCompleted(false)" >
    Mark Incomplete
  </button>-->
  <button (click) = "isEdit=false">
   &#10006;
  </button>
</div>