<div class="container mt-5">
  <h2 class="mb-5 ml-5">
    <fa name="users"></fa>Emplyoees List
  </h2>

  <div class="alert alert-warning" *ngIf="!emplyoees || emplyoees.length==0">
    <fa name="exclamation-triangle"></fa> Records could not be found or loaded
  </div>

  <div class="row" *ngIf="emplyoees && emplyoees.length>0">
    <div class="col-lg-2 ml-1 mb-1" *ngFor="let c of emplyoees">
      <div class="card" (mouseover)="cf.hidden=false" (mouseleave)="cf.hidden=true">
        <img class="card-img-top" [src]="c.gender=='GENT'?gentLogo:ladyLogo" />
        <div class="card-body">
          <h6 class="card-title">{{c|fullName|adjustLength:12}}</h6>
          <p class="card-text">
            {{c.emailId|adjustLength:13}}
            <br /> {{c.mobileNumber}}<br/>
            {{c.dept}}
          </p>
        </div>
        <div class="card-footer" hidden="true" #cf>
          <div class="btn-group">
            <a routerLink="/editEmplyoee/{{c.empId}}" class="btn">
              <fa name="edit"></fa>
            </a>
            <a routerLink="/delEmplyoee/{{c.empId}}" class="btn">
              <fa name="trash"></fa>
            </a>
            <a routerLink="/viewEmplyoee/{{c.empId}}" class="btn ">
              <fa name="address-card"></fa>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>