div{ 
       width:720px; 
       padding:0px;
    }
    input{   
     display:inline-block;  
     margin:0px;  
     padding:9px;   
    background-color:yellow;  
    font-weight: 300;  
    width:75%;}
     button{  
            width:20%; 
            background-color: brown;  
            color:white;   
            margin:0px; 
            padding:9px; 
            display:inline-block;}