<h3>Pipes Demo</h3>
<h3>Orignal String</h3>
<p>{{strData}}</p>

<h3>String Pipes</h3>
<p>{{strData | uppercase}}</p>
<p>{{strData | lowercase}}</p>
<p>{{strData | titlecase}}</p>

<h3>Orignal number</h3>

<p>{{numData}}</p>

<h3>Decimel Pipe</h3>

<p>{{numData | number : '8.0'}}</p>
<p>{{numData | number : '8.0-4'}}</p>
<p>{{numData | number : '5.5'}}</p>

<h3>Currency Pipe</h3>

<p>{{numData | currency : 'AUD'}}</p>
<p>{{numData | currency : 'EUR'}}</p>

<h3>Percentage Pipe</h3>
<p>{{numData | percent}}</p>
<p>{{numData | percent : '7.0-6'}}</p>

<p>orignal data</p>
<p>{{dateDate}}</p>

<h3>Date Pipes</h3>
<p>{{dateDate | date : 'dd-MM-yyyy'}}</p>
<p>{{dateDate | date : 'dd/MM/yyyy'}}</p>
<p>{{dateDate | date : 'dd,MMM-yyyy'}}</p>
<p>{{dateDate | date : "hh:mm:ss a"}}</p>

<p>12345 in words<strong>{{12345 | toWords}}</strong></p>
<p>12345 in words<strong>{{numData | toWords}}</strong></p>

<h3>Orignal Array</h3>
{{array}}

<h3>Even Elements</h3>

{{array | multiplesOf : '2'}}

<h3>Seven multiples</h3>

{{array | multiplesOf : '7'}}