table{
    border : 1px dotted black;
    padding: 5px;
    width: 100%;
}
td,tr,th{
    border-bottom: .75px solid black; 
}
td{
    border-radius: 5px;
}
 tr:nth-child(even)
{
    background-color: burlywood;
}
tfoot tr,tfoot th{
    border-bottom: 0px;
}