<h3>Emplyoee List </h3>
<div class="dashboard">
  <div>
      <img [src]="itIcon"/>
    Infromation Tech:<span>{{emplyoees|deptCount:'It'}}/{{emplyoees.length}}</span></div>
  <div>
      <img [src]="supportIcon"/>
    Support:<span>{{emplyoees|deptCount:'Support'}}/{{emplyoees.length}}</span></div>
  <div>
      <img [src]="testIcon"/>
    Testing:<span>{{emplyoees|deptCount:'Testing'}}/{{emplyoees.length}}</span></div>
  <div>
      <img [src]="cloudIcon"/>
    Cloud:<span>{{emplyoees|deptCount:'Cloud'}}/{{emplyoees.length}}</span></div>
</div>
<div class="emplyoeesList">
<div class="emplyoeeCard" *ngFor="let b of emplyoees" (click)="showEmplyoee(b.empid)">
    <div class="deptIcon">
      <img [src]="cloudIcon" *ngIf="b.dept=='Cloud'"/>
      <img [src]="itIcon" *ngIf="b.dept=='It'"/>
      <img [src]="supportIcon" *ngIf="b.dept=='Support'"/>
      <img [src]="testIcon" *ngIf="b.dept=='Testing'"/>
      </div>
  <div class="emplyoeeDetails">
    <span>{{b.empid}}</span>
    <span>{{b.ename}}</span>
    <span>{{b.basic}}</span>
    <span>{{b.hra}}</span>
  </div>
</div>
<div class="clr"></div>
</div>