<h3>Book List </h3>
<div class="dashboard">
  <div>HardCopies:<span>{{books|typeCount:'HardCopy'}}</span></div>
  <div>DigitalCopies:<span>{{books|typeCount:'Digital'}}</span></div>
</div>
<div class="booksList">
<div class="bookCard" *ngFor="let b of books" (click)="showBook(b.bcode)">
    <div class="typeIcon">
      <img [src]="b.type=='HardCopy'?bookIcon:cdIcon"/>
      </div>
  <div class="bookDetails">
    <span>{{b.bcode}}</span>
    <span>{{b.title}}</span>
    <span>{{b.price}}</span>
    <span>{{b.category}}</span>
  </div>
</div>
<div class="clr"></div>
</div>